spring:
  application:
    name: repair-service-portal
  
  datasource:
    url: jdbc:h2:mem:repairdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  
  thymeleaf:
    cache: false

server:
  port: 8080

logging:
  level:
    io.github.nimv1.repair: DEBUG
